<!DOCTYPE html>
<html>
<head>



    <title>Tom&apos;s Killer Website</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />


	<link rel="stylesheet" href="style.css" type="text/css" />
	
</head>
<body>



	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink">Tom&apos;s Killer Website</a></h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#/home.html">Home</a></li>
				<li><a href="#/about.html">About</a></li>
				<li><a href="#/contact.html">Contact</a></li>
			</ul>	
		</div>
		<div id="content">
			<h2>Home</h2>
			<p>
				This was deployed using Chef on AWS! If you can see this page then my deployment actually worked!
			</p>
			<p> 
				Click <a href="https://www.linkedin.com/in/tom-finch/"><u>here</u></a> to go to see a great guy. 
			</p>
			<img src="https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2016/02/14/6359107471390896611969614115_freakinawesome.jpg" alt="Awesome Unicorn">
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">Tom Finch</a>
			</p>
		</div>
	</div>
</body>
</html>
